/***** GLOBAL STYLES *****/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: #FAFAFA;
    color: #1A1A1A;
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
}

/***** TYPOGRAPHY *****/
h1 {
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
}

h3 {
    font-size: 1.1rem;
    margin: 0 0 0.5rem;
}

p {
    margin: 0 0 0.5rem;
}

/***** DIVIDERS *****/
hr {
    border: 1px solid #989898;
    margin: 0.75rem 0 1rem;
}

/***** LINKS *****/
a {
    color: #0066CC;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    outline: 2px solid #1A1A1A;
    outline-offset: 3px;
}

.link-primary {
    display: inline-block;
    background: #0066CC;
    color: #FFFFFF;
    border-radius: 2rem;
    padding: 0.45rem 0.75rem;
}

.link-primary:hover {
    background: #0572dd;
    text-decoration: none;
}

/***** LISTS | UL/LI *****/
ul {
    margin: 0.75rem 0 0;
    padding-left: 1.25rem;
}

li {
    margin-bottom: 0.25rem;
}

.skills-list {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.5;
}

/***** LAYOUT *****/
header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
    padding: 1.5rem;
}

header {
    padding-bottom: 1rem;
}

main {
    padding-top: 1rem;
    padding-bottom: 0;
}

/* INCLUDES ALL SECTIONS EXCEPT FOR HEADER & FOOTER */
.section-container {
    margin-bottom: 1.75rem;
}

.summary-container h2 {
    margin-bottom: 0.75rem;
}

.summary-container p {
    line-height: 1.5;
}

article {
    margin-bottom: 1.25rem;
}

/***** SECTION | HEADER *****/
.header-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
}

.header-image img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.header-title h1 {
    margin: 0 0 0.25rem;
}

.header-title p {
    margin: 0 0 0.5rem;
}

.header-contact {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

/***** SECTION | FOOTER *****/
.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

/***** MEDIA QUERIES | TYPOGRAPHY *****/
@media (width <= 680px) {
  h1 {
      font-size: 1.75rem;
    }

    h2 {
        font-size: 1.35rem;
    }
}